body {
    font-family: "Lato", sans-serif;
    background: ghostwhite;
}

.page-header {
    margin: 0;
    background: rgba(0,0,5,0.9);
    padding-bottom: 20px;
}

.text-box {
    border-radius: 10px;
    background: ghostwhite;
    padding: 20px;
}

