html {
    position: relative;
    /*min-height: 100%;*/
}

body {
    font-family: "Lato", sans-serif;
    background: ghostwhite;
    margin-bottom: 60px;
}

.page-header {
    margin: 0;
    background: rgb(10,10,15);
    padding-bottom: 20px;
}

<<<<<<< HEAD
.sub-text {
    color: rgb(190,190,190);
}

=======
>>>>>>> 7eaf715b9f6af0a70cc142240392fecf662949f5
.footer {
    position: absolute;
    width: 100%;
    height: 60px;
<<<<<<< HEAD
    background-color: #343a40;);
}


=======
    background-color: #343a40;
}
>>>>>>> 7eaf715b9f6af0a70cc142240392fecf662949f5
