/* Author Tobias Ham*/
.verifyproducttable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.verifyproducttable td, .verifyproducttable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.verifyproducttable tr:nth-child(even){background-color: #f2f2f2;}

.verifyproducttable tr:hover {background-color: #ddd;}

.verifyproducttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255, 110, 25);
    color: white;
}