/* Author Tobias Ham*/
#overview {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#overview td, #overview th {
    border: 1px solid #ddd;
    padding: 8px;
}

#overview tr:nth-child(even){background-color: #f2f2f2;}

#overview tr:hover {background-color: #ddd;}

#overview th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255, 110, 25);
    color: white;
}