<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Verify Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Tobias Ham">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/newproductform.css}" href="../static/css/newproductform.css">
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/diary-entry.css}" href="../static/css/diary-entry.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<div class="banner-image">
    <div class="banner-text">
        <h1>Food Diary</h1>
        <p><strong>Simple and Resourceful</strong></p>
    </div>
</div>

<div th:insert="template :: navbar"></div>

<body>



<p>
    <button class="button" data-modal="addproductdescription" th:text="#{description-form.addbutton}"></button>
</p>

<div id="addproductdescription" class="modal">
    <div class="modal-content">
        <div class="entry-form">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>


            <form method="post" id="descriptionform" th:action="@{/verifyproducts/description}" th:object="${productdescription}">
                <h2 th:text="#{descriptionForm.header}"></h2>
                <p th:text="#{descriptionForm.text}"></p>

                <div class="descriptionForm">
                    <label th:text="#{descriptionForm.dutch}"></label>
                    <input type="text" th:field="*{descriptionDutch}" />
                    <label th:text="#{descriptionForm.english}"></label>
                    <input type="text" th:field="*{descriptionEnglish}" />
                    <label th:text="#{descriptionForm.synonyms}"></label>
                    <input type="text" th:field="*{synonymous}" />
                </div>
                <button id="productdescriptionsubmit" type="submit" th:text="#{discriptionForm.submit}"></button>
            </form>
        </div>
    </div>
</div>

<div th:insert="template :: footer"></div>
</body>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/js/diaryentry.js>"></script>
<script src="/js/unverifiedProductForm.js"></script>